# Default to npmjs.org for normal publishing
registry=https://registry.npmjs.org/

# GitHub Packages registry for scoped packages
@Gorav22:registry=https://npm.pkg.github.com/

# Use GitHub token for authentication when publishing to GitHub Packages
//npm.pkg.github.com/:_authToken=${GH_PACKAGES_TOKEN}

# Use npm token for authentication when publishing to npmjs.com
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
